body {
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: white;
}

canvas {
    display: block;
}

#ui-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    pointer-events: none;
    text-shadow: 0 0 10px rgba(255, 0, 255, 0.9), 0 0 20px rgba(255, 0, 255, 0.9);
}

#title {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    color: #FF69B4; /* Hot Pink */
}

#final-message-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    pointer-events: none;
}

#final-message {
    font-size: 3em;
    font-weight: bold;
    color: #ff69b4; /* Hot Pink */
    text-shadow: 0 0 15px #DA70D6, 0 0 25px #DA70D6;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

/* Responsive Design */
@media (max-width: 768px) {
    #title {
        font-size: 1.5em;
    }

    #final-message {
        font-size: 2em;
    }
}

#loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#loading-progress-bar-container {
    width: 80%;
    max-width: 300px;
    height: 10px;
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
}

#loading-progress-bar {
    width: 0;
    height: 100%;
    background-color: #FF69B4;
}

#loading-screen p {
    margin-top: 10px;
    font-size: 1.2em;
    color: white;
}
